<!DOCTYPE html>
<html ng-app="wordsTestApp">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          {% stylesheets 
            '@AppBundle/Resources/public/css/bootstrap.min.css'
            '@AppBundle/Resources/public/css/site.css'   %}
            <link rel="stylesheet" href="{{ asset_url }}" />
          {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
          {% javascripts 
            '@AppBundle/Resources/public/node_modules/angular/angular.min.js'
            '@AppBundle/Resources/public/node_modules/angular/angular-animate.min.js'
            '@AppBundle/Resources/public/js/ui-bootstrap-tpls-0.14.3.min.js'
            '@AppBundle/Resources/public/js/controllers.js' %}
              <script type="text/javascript" src="{{ asset_url }}"></script>
          {% endjavascripts %}
        {% endblock %}
    </head>
    <body ng-controller="WordsTestCntrl">
    {% verbatim %}
{% endverbatim %}
        {% block body %}{% endblock %}
    </body>
</html>
